<!DOCTYPE html>
<html ng-app="app">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="ng-signicat.js"></script>
    <script src="app.js"></script>

</head>
<body ng-controller="AppController" class="app">

    <h2>Angular app</h2>
    This is an Angular app with:
    <ul>
        <li>A REST backend
        <li>A Signicat directive
        <li>An HTTP interceptor.
    </ul>
    <p>
    The REST backend has one service that returns the username if you are logged in and HTTP 401 if you are not logged in.
    <p>
    The Signicat directive will open an iframe where you may log in when it receives a broadcast event.
    <p>
    The HTTP interceptor will intercept any HTTP 401 response from the server and send a broadcast event to the Signicat directive.

    <div class="msg">Message from server: <b>{{msg}}</b></div>

    <button ng-click="loadUsername()">Load username</button>
    <button ng-click="logout()">Logout</button>

    <signicat class="login" host="'preprod.signicat.com'" service="'shared'" method="'nbid'" profile="'plain'" target="'http://localhost:8090/saml'"/>

</body>
</html>